@charset "UTF-8";
@font-face{
    font-family: 'xbones';
    src: url('xbones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0d/Great_Wave_off_Kanagawa2.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;

}

nav{
    font-family: 'xbones', 'Times New Roman', Times, serif,Arial, Helvetica, sans-serif;
    color: black;
    font-style: normal;
    position: relative;
    
}

nav>a{
    font-style: normal;
    color: black;
    border-radius: 5px;
    margin-top: -200px;
    margin-bottom: -10px;
    padding: 8px 55px 7px 55px;
    background-image: linear-gradient(to top, #1333d3e7, #47b7fde8);
    box-shadow: 5px 5px 9px rgba(16, 16, 16, 0.824);
    margin: 10px black;
    position: relative;
    left: 210px;
    top: -30px;
    border: 1px solid #762E03;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    display: inline-flex;

    
}
header>img{
    display: block;
    margin: 0px;
}

a:hover {
    
    box-shadow: -4px -4px 6px rgba(35, 34, 34, 0.872);
    
    
    
    left: 210px;
    top: -30px;
    padding: 12px 65px 7px 65px;
}
h1{
    color: #255fe5a1;
    font-family: 'xbones', Georgia, 'Times New Roman', Times, serif;
    border-image: auto;
    margin: auto 100px;
    text-align: center;
    text-shadow: 1px 1px 3px            #0535467a;

}
p{
    text-align: justify;
    font-family: monospace;
    text-shadow: 1px 1px 1px rgba(19, 18, 18, 0.537);

}
main{
    background-image: url(https://wallhere.com/pt/wallpaper/843148);
    background-attachment: fixed;
    background-size: 100% 100%; 
    background-color: rgba(255, 255, 255, 0.833);
    box-shadow: 5px 5px 15px #2337809b;
    margin:auto;
    border-radius: 10px;
    padding: 15px;
    width: 800px;
    border: 0.4px solid black;
    margin-top: 0;


}
h2{
    color:#255fe593;
    font-family: 'xbones', Georgia, 'Times New Roman', Times, serif;
    border-image: auto;
    margin: auto 100px;
    text-align: center;
    text-shadow: 1px 1px 3px            #03282873;
}

header{
    margin-top: 0;
    margin-bottom: -10px;
}
div.imagem{
    position: relative;
    margin-left: 515px;
    

}

#titulo{
    text-align: left;
    
}
